NET D_Line[0]          LOC=P41;
NET D_Line[1]          LOC=P43;
NET D_Line[2]          LOC=P44;
NET D_Line[3]          LOC=P45;
NET D_Line[4]          LOC=P46;
NET D_Line[5]          LOC=P47;
NET D_Line[6]          LOC=P48;
NET D_Line[7]          LOC=P50;
NET D_Line[8]          LOC=P51;
NET D_Line[9]          LOC=P52;
NET D_Line[10]         LOC=P53;
NET D_Line[11]         LOC=P54;
NET D_Line[12]         LOC=P55;
NET D_Line[13]         LOC=P56;
NET D_Line[14]         LOC=P57;
NET D_Line[15]         LOC=P58;

NET A_Upper[0]         LOC=P61;
NET A_Upper[1]         LOC=P62;
NET A_Upper[2]         LOC=P63;
NET A_Upper[3]         LOC=P65;

NET A_Enable[0]        LOC=P66;
NET A_Enable[1]        LOC=P67;

NET A_Lower[0]         LOC=P68;
NET A_Lower[1]         LOC=P69;
NET A_Lower[2]         LOC=P70;
NET A_Lower[3]         LOC=P71;
NET A_Lower[4]         LOC=P72;
NET A_Lower[5]         LOC=P75;

NET RESET_INV          LOC=P74;
NET RESET              LOC=P9;

NET READ_ENABLE        LOC=P80;
NET WRITE_ENABLE       LOC=P81;
NET RW                 LOC=P82;

NET BERR          LOC=P83;
NET DTACK         LOC=P84;

NET IPL0          LOC=P37;
NET IPL1          LOC=P36;
NET IPL2          LOC=P35;

NET LRAM          LOC=P34;
NET URAM          LOC=P33;
NET LROM          LOC=P32;
NET UROM          LOC=P31;

NET BR            LOC=P26;
NET BG            LOC=P25;
NET BGACK         LOC=P24;
NET VPA           LOC=P23;

NET VMA           LOC=P21;
NET E             LOC=P20;
NET AS            LOC=P19;
NET UDS           LOC=P18;
NET LDS           LOC=P17;

NET IACK          LOC=P15;
NET DUART         LOC=P14;
NET DUARTIRQ      LOC=P13;

NET CPU_Clock     LOC=P12;
NET X1            LOC=P10;

NET LED[0]        LOC=P11;
NET LED[1]        LOC=P7;
NET LED[2]        LOC=P6;
NET LED[3]        LOC=P5;
NET LED[4]        LOC=P4;
NET LED[5]        LOC=P3;
NET LED[6]        LOC=P2;
NET LED[7]        LOC=P1;
#Created by Constraints Editor (xc9572-pc84-7) - 2022/03/21
NET "CPU_Clock" TNM_NET = CPU_Clock;
TIMESPEC TS_CPU_Clock = PERIOD "CPU_Clock" 20 ns HIGH 50%;
